@{
    ViewData["Title"] = "Over Paul";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <a href="https://www.linkedin.com/in/ppascha" target="_blank">https://www.linkedin.com/in/ppascha</a>
</p>
