@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Aagje Dekenstraat<br />
    Alkmaar<br />
           <a href="tel:+31646324014">+31646324014</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:paul.pascha@outlook.com">paul.pascha@outlook.com</a><br />
</address>
