{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AppSettings": {
    "B2BApiBaseAddress": "",
    "B2BApiClientKey": "",
    "B2BApiSubscriptionKey": "",
    "TokenRequestEndpoint": ""
  },
  "AllowedHosts": "*"
}
